Repository fantaisie-software/purebasic, pull requests merged in 2020-01, with the labels that each got.

#34 Purge empty sessions from Session History list
  PureBasicIDE/EditHistory.pb
Labels: :bulb: enhancement, :gear: PB IDE

#36 Add Contributors' Guidelines
  CONTRIBUTING.md
  README.md
Labels: :books: Wiki, :books: documentation, :cop: code conventions, :cop: contributors' guidelines, :hammer: EditorConfig

#41 Dark mode support for macOS
  PureBasicIDE/AboutWindow.pb
  PureBasicIDE/MacExtensions.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/ProjectManagement.pb
  PureBasicIDE/SourceManagement.pb
  PureBasicIDE/UserInterface.pb
  README.md
Labels: :bulb: enhancement, :computer: Mac, :gear: PB IDE
