Repository fantaisie-software/purebasic, pull requests merged in 2020-03, with the labels that each got.

#68 Fix highlight of matching word at end of file
  PureBasicIDE/ScintillaHighlighting.pb
Labels: :gear: PB IDE

#72 UnxUtils Alternatives
  BUILD.md
  README.md
Labels: :computer: Win, :hammer: Make, :hammer: UnxUtils

#74 Bug fix for "Find Previous" freezing
  PureBasicIDE/ScintillaHighlighting.pb
Labels: :gear: PB IDE, :skull: bug fix

#77 Add deactivation of the `Data` checkbox in the Memory Viewer
  PureBasicDebugger/MemoryViewer.pb
Labels: :bulb: enhancement, :gear: PB Debugger

#76 Replace ProjectOpenMode numbers with named constants
  PureBasicIDE/ProjectManagement.pb
Labels: :bulb: enhancement, :gear: PB IDE

#71 Make Scintilla word chars a user preference
  PureBasicIDE/CodeViewer.pb
  PureBasicIDE/Common.pb
  PureBasicIDE/Declarations.pb
  PureBasicIDE/DiffWindow.pb
  PureBasicIDE/Language.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/ScintillaHighlighting.pb
  PureBasicIDE/WindowsMisc.pb
  PureBasicIDE/dialogs/Preferences.xml
Labels: :bulb: enhancement, :gear: PB IDE
