Repository fantaisie-software/purebasic, pull requests merged in 2020-11, with the labels that each got.

#106 Add option to auto-wrap Find at end of file
  PureBasicIDE/Common.pb
  PureBasicIDE/FindWindow.pb
  PureBasicIDE/Language.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/ScintillaHighlighting.pb
  PureBasicIDE/dialogs/Find.xml
Labels: :bulb: enhancement, :gear: PB IDE

#108 Bug fix: Wrong tab can be labeled "Project"
  PureBasicIDE/ProjectManagement.pb
Labels: :gear: PB IDE, :skull: bug fix

#104 Add PageUp/Dn shortcuts to step through Preferences screens
  PureBasicIDE/Common.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/dialogs/Preferences.xml
Labels: :bulb: enhancement, :gear: PB IDE

#110 Fix IDE Crash on MacOS with TouchBar
  PureBasicIDE/SourceManagement.pb
Labels: :computer: Mac, :gear: PB IDE, :skull: bug fix

#107 New editor shortcuts (upper/lower/invert case)
  PureBasicIDE/Common.pb
  PureBasicIDE/Declarations.pb
  PureBasicIDE/Language.pb
  PureBasicIDE/ScintillaHighlighting.pb
  PureBasicIDE/ShortcutManagement.pb
  PureBasicIDE/UserInterface.pb
  PureBasicIDE/dialogs/Preferences.xml
Labels: :bulb: enhancement, :gear: PB IDE
