Repository fantaisie-software/purebasic, pull requests merged in 2021-08, with the labels that each got.

#157 Change format for all build targets from 'console' to default
  PureBasicIDE/PureBasicIDE.pbp
Labels: :gear: PB IDE

#158 Prevent debugger errors and IMA crash on quit
  PureBasicIDE/FormDesigner/mainevents.pb
  PureBasicIDE/PureBasic.pb
Labels: :gear: PB IDE, :skull: bug fix

#146 Prevent the Save Changes prompt if a source is 'New' and also empty
  PureBasicIDE/SourceManagement.pb
Labels: :bulb: enhancement, :gear: PB IDE

#160 Replace SaveProjectSettings "magic numbers" with named constants
  PureBasicIDE/Common.pb
  PureBasicIDE/CompilerWindow.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/SourceManagement.pb
Labels: :bulb: enhancement, :gear: PB IDE

#141 PB Library SDK Typos
  AsciiDoc/PB-Library-SDK.asciidoc
  PureBasicIDE/sdk/PB-Library-SDK.html
Labels: :books: documentation, :skull: typos

#151 Fix Broken Links in DocMaker Help
  AsciiDoc/DocMaker-Help.asciidoc
  Documentation/DocMaker-Help.html
Labels: :gear: DocMaker

#150 PB Help FR » Residents: Add Prototypes
  Documentation/French/Reference/residents.txt
Labels: :gear: PB Help, :lips: French

#171 Fix ReadProgramString() and few typos in fr doc
  Documentation/French/Process.txt
Labels: :skull: typos, :gear: PB Help, :lips: French
