Repository fantaisie-software/purebasic, pull requests merged in 2022-01, with the labels that each got.

#186 Allow selecting a specific compiler as default in the preferences
  PureBasicDebugger/Communication_PipeUnix.pb
  PureBasicIDE/Common.pb
  PureBasicIDE/CompilerFlags.pb
  PureBasicIDE/CompilerInterface.pb
  PureBasicIDE/CompilerWindow.pb
  PureBasicIDE/FormDesigner/FormManagement.pb
  PureBasicIDE/IDEDebugger.pb
  PureBasicIDE/LinuxExtensions.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/ProjectManagement.pb
  PureBasicIDE/SourceManagement.pb
  PureBasicIDE/UserInterface.pb
  PureBasicIDE/ZLib.pb
  PureBasicIDE/dialogs/Preferences.xml
  Residents/Scintilla.pb
Labels: :bulb: enhancement, :gear: PB IDE, :gear: PB Backends

#184 Enable Replace shortcut
  Documentation/Catalogs/Deutsch/Editor.catalog
  Documentation/Catalogs/Editor.catalog
  Documentation/Catalogs/Francais/Editor.catalog
  PureBasicIDE/Common.pb
  PureBasicIDE/Declarations.pb
  PureBasicIDE/FindWindow.pb
  PureBasicIDE/Language.pb
  PureBasicIDE/ShortcutManagement.pb
  PureBasicIDE/ToolbarManagement.pb
  PureBasicIDE/UserInterface.pb
Labels: :bulb: enhancement, :gear: PB IDE

#194 Fix crashing on IDE start/close, when a tool is set up to trigger in this case
  PureBasicIDE/AddTools.pb
Labels: :gear: PB IDE, :skull: bug fix

#195 New tool triggers for open/file
  Documentation/Catalogs/Deutsch/Editor.catalog
  Documentation/Catalogs/Editor.catalog
  Documentation/Catalogs/Francais/Editor.catalog
  Documentation/Catalogs/Spanish/Editor.catalog
  Documentation/English/Reference/ide_externaltools.txt
  Documentation/French/Reference/ide_externaltools.txt
  Documentation/German/Reference/ide_externaltools.txt
  PureBasicIDE/AddTools.pb
  PureBasicIDE/Common.pb
  PureBasicIDE/Language.pb
  PureBasicIDE/SourceManagement.pb
  PureBasicIDE/dialogs/AddTools.xml
Labels: :bulb: enhancement, :gear: PB IDE

#187 MacOS GUI ToolBar position and default TabBar colors
  DialogManager/Object_Gadget.pb
  Documentation/English/Reference/ide_preferences.txt
  PureBasicIDE/Common.pb
  PureBasicIDE/Language.pb
  PureBasicIDE/MacExtensions.pb
  PureBasicIDE/Preferences.pb
  PureBasicIDE/PureBasic.pb
  PureBasicIDE/SourceManagement.pb
  PureBasicIDE/UserInterface.pb
  PureBasicIDE/dialogs/Preferences.xml
Labels: :bulb: enhancement, :gear: PB IDE, :computer: Mac
